* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.div {
    min-height: 100vh;
    margin: 0;
}

.App {
    width: 80%;
    margin: 0 auto;
}
.dark {
    background-color: #333333;
    color: #cccccc;
}

.light {
    background: #ccc;
    color: #333;
}
.header {
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
}

a.logo {
    text-decoration: none;
    color: tomato;
}

a.logo:hover {
    color: #ff2600;
}

a {
    text-decoration: none;
    color: inherit;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
}
